
  <div class="actions">
  <%= form_with model: post.comment do |f| %>
    <div class="h4">
    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
    <div id ="staticEmail" type="text" readonly class="form-control-plaintext" ><%= current_user.email%></div>
    </div>
    <label for="desc" class="h4">Comment</label>
    <%= f.text_area :com_text, class: "form-control", id: "desc" %>
    <br>
    <%= form.submit class: "btn btn-primary", type: "button" %>
  <% end %>
  </div>
